.mainContainer {
    padding-left: 8%;
    padding-right: 8%;
}
.itemSelectCon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;

}
.flowersdiv {
    padding-top: 4%;
}
icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}